@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: inter;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}
.preloader h3 {
  text-align: center;
  padding-top: 15%;
  font-size: 30px;
  font-weight: 300;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-left: 1%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: none;
}

.menuBtn span {
  width: 34px;
  height: 3px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
  border-radius: 2px;
}

.menuBtn span:nth-of-type(2) {
  top: calc(35% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(60% + 5px);
}

nav.popUp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  padding: 2%;
  top: 0;
  left: 0;
  margin-top: 80px;
  width: 450px;
  height: 100vh;
  -webkit-animation-duration: 0.55s;
          animation-duration: 0.55s; /* Время работы анимации */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; /* Поведение анимации */
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; /* Имя анимации */
}
nav.popUp ul {
  line-height: 40px;
}
nav.popUp ul a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
  font-size: 22px;
}
nav.popUp ul a:hover {
  color: #FFCF00;
}
nav.popUp ul a.active {
  color: #FFCF00;
}
nav.popUp .link {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
}
nav.popUp .link.active {
  display: flex;
  -webkit-animation-duration: 0.55s;
          animation-duration: 0.55s; /* Время работы анимации */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; /* Поведение анимации */
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
nav.popUp .link a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 18px;
}

@-webkit-keyframes fadeInDown { /* Сама анимация */
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown { /* Сама анимация */
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}
header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(335deg, rgb(255, 255, 255) 20%, rgb(0, 0, 0) 20%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 200;
}
header .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .link .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .link .search input {
  padding: 5px;
  width: 300px;
  height: 40px;
  margin-right: 20px;
  outline: none;
  font-size: 22px;
  color: white;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
header .link .search button {
  right: 10px;
  position: absolute;
  width: 42px;
  height: 40px;
  border: none;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-image: url(/icon/Group.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  border-left: none;
}
header .link .bt img.active {
  filter: drop-shadow(1px 1px 1px rgb(255, 207, 0));
}
header .link button {
  background-color: black;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
}
header .link button::before {
  content: attr(data-count);
  position: absolute;
  color: white;
  right: 19px;
  top: 7px;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin-top: 100px;
}
main .merch-link ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}
main .merch-link ul a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.7);
  margin-left: 5px;
  z-index: 100;
}
main .merch-link ul a:hover {
  text-decoration: underline;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 5%;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .container .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.footer .container .form-row button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}
.footer .container .form-row input {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-size: 17px;
  margin-right: 10px;
}
.footer .container h2 {
  color: white;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}
.footer .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.footer .link h2 {
  color: white;
  font-size: 15px;
  font-weight: 100;
}
.footer .link img {
  width: 40px;
  margin-top: 4%;
  margin-left: 10px;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page {
  background-color: white;
  z-index: 110;
  width: 100%;
  display: block;
  -webkit-animation: show 0.5s linear;
          animation: show 0.5s linear;
}
.page.active {
  display: block;
}
.page .page-block {
  background-color: rgb(64, 64, 64);
  margin: 50px;
  margin-top: 20px;
}
.page .page-content {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.page .page-content .rotate {
  width: 50%;
  transform: rotate(90deg);
}
.page .page-content .rotate .div-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transform: rotate(-90deg);
}
.page .page-content .rotate .div-img img {
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: showSlide 1s linear;
          animation: showSlide 1s linear;
}
.page .page-content .rotate .div-img img.remove {
  display: none;
}
.page .page-content .mySwiper {
  width: 70%;
}
.page .page-content .mySwiper img {
  width: 350px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .page-content .mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .page-content .swiper {
  margin-left: auto;
  margin-right: auto;
}
.page .page-content .swiper-button-next, .page .page-content .swiper-button-prev {
  color: white;
}
.page .page-content .page-content__description {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.page .page-content .page-content__description h2 {
  margin-bottom: 10px;
  font-weight: 300;
}
.page .page-content .page-content__description h1 {
  font-weight: 400;
}
.page .page-content .page-content__description p {
  width: 400px;
  line-height: 25px;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 20px;
}
.page .page-content .page-content__description .description__size {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.page .page-content .page-content__description .description__size p {
  margin-top: 20px;
  width: auto;
  font-size: 16px;
}
.page .page-content .page-content__description .description__size .size {
  margin-top: 10px;
  width: 200px;
}
.page .page-content .page-content__description .description__size .size button {
  margin-top: 10px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 10px;
  padding: 3px;
}
.page .page-content .page-content__description .description__size .size button:hover {
  box-shadow: 1px 1px 15px black;
}
.page .page-content .page-content__description .description__size .size button.active {
  background-color: #FFCF00;
}
.page .page-content .page-content__description .description__size .size-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.page .page-content .page-content__description .description__size .size-table .size-table__circle {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.page .page-content .page-content__description .description__size .size-table .size-table__circle .circle {
  border-radius: 5px;
  width: 7px;
  height: 7px;
  background-color: #FFCF00;
}
.page .page-content .page-content__description .color {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.page .page-content .page-content__description .color .color-block {
  width: 150px;
}
.page .page-content .page-content__description .color .color-block .color-product {
  margin-top: 10px;
  box-shadow: 1px 1px 5px black;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.page .page-content .page-content__description .color button {
  background-color: #FFCF00;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 18px;
  width: 150px;
  cursor: pointer;
  transition: 0.5s;
}
.page .page-content .page-content__description .color button:hover {
  background-color: #e0e0e0;
}
.page .recommen {
  width: 100%;
}
.page .recommen h3 {
  color: white;
  margin-left: 100px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 10px;
}
.page .recommen .swiper {
  width: 90%;
  height: 300px;
}
.page .recommen .swiper-slide {
  width: 90%;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.page .recommen .swiper-slide a {
  text-decoration: none;
  color: white;
}
.page .recommen .swiper-slide a .recommen-item__text {
  margin-top: 10px;
  margin-bottom: 20px;
}
.page .recommen .swiper-slide a .recommen-item__text p:nth-of-type(3) {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}
.page .recommen .swiper-slide img {
  display: block;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .recommen .swiper {
  margin-left: auto;
  margin-right: auto;
}
.page .recommen .swiper-button-next, .page .recommen .swiper-button-prev {
  color: white;
}

@-webkit-keyframes showSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */